<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ssroman.mypasswords">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataBaseHelper"
            android:label="@string/title_activity_data_base_helper"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginDataBaseAdapter"
            android:label="@string/title_activity_login_data_base_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuardarPW"
            android:label="@string/title_activity_guardar_pw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModificarPW"
            android:label="@string/title_activity_modificar_pw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BuscarPW"
            android:label="@string/title_activity_buscar_pw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BorrarPW"
            android:label="@string/title_activity_borrar_pw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AyudaBD"
            android:label="@string/title_activity_ayuda_bd"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SalvarPW"
            android:label="@string/title_activity_salvar_pw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AcercaPopup"
            android:label="@string/title_activity_acerca_popup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmailActivity"
            android:label="@string/title_activity_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MasApps"
            android:label="@string/title_activity_mas_apps"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>